<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>New User</h1>
    <div class="col-md-auto">
        <form th:object="${user}" th:action="@{save}" action="#" method="post">
            <div>
                <label th:text="Name" th:for="name"></label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Please enter your full name."/>
                <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="Age" th:for="age"></label>
                <input type="number" th:field="*{age}" class="form-control" placeholder="Please enter your age."/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="Email" th:for="email"></label>
                <input type="text" th:field="*{email}" class="form-control" placeholder="Please enter your VTI email."/>
                <p class="error" th:if="${emailFormatError}" th:text="${emailFormatError}"></p>  <!-- hiển thị lỗi emailFormatError: ko đung dinh dang -->
                <p class="error" th:if="${emailExistsError}" th:text="${emailExistsError}"></p>  <!-- hiển thị lỗi emailExistsError: email đã tồn tại -->
                <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="Gender" th:for="gender"></label>
                <select th:field="*{gender}" class="form-control">
                    <option value="" selected disabled>Please select your gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <p class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
            </div>

            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="Phone" th:for="phone"></label>
                <input type="text" th:field="*{phone}" class="form-control" placeholder="Please enter your phone."/>
            </div>

            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="User_Name" th:for="username"></label>
                <input type="text" th:field="*{username}" class="form-control" placeholder="Please enter your user name."/>
            </div>

            <div style="clear: both; display: block; height: 10px"></div>
            <input type="button" class="btn btn-danger" value="Cancel" onclick="window.location.href='/index'"/>

            <input type="submit" class="btn btn-success" value="Save"/>

        </form>
    </div>
</div>
</body>
</html>
